[submodule "configserver"]
	path = configserver
	url = git@github.com:ayondeep/microservices/configserver.git
[submodule "licensingservice"]
	path = licensingservice
	url = git@github.com:ayondeep/microservices/licensingservice.git
[submodule "Oauth2Service"]
	path = Oauth2Service
	url = git@github.com:/ayondeep/microservices/oauth2service.git
