server:
  port: 8888
spring:
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations: file:///Users/ayon/workspace/microservices/configserver/src/main/resources/config/licensingservice
